################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/backend/DomainPattern/CassianoStore/CassianoStore.Api/appsettings.Development.json
